body {
  background-color: #030c00;
  color: #b0e000;
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
}

.form-container {
  border-right: 1px solid #cccccc;
  overflow-y: auto;
  padding: 10px 20px 20px;
  position: relative;
  width: 30%;
  min-width: 210px;
  /* max-width: 310px; */
}

button {
  cursor: pointer;
}

button:hover:enabled {
  box-shadow: 0 0 7px #ccff00
}

.clump-form-form button[type="submit"] {
  background-color: #004400;
  border: 0;
  box-shadow: inset -1px -1px 1px black, -1px -1px 0px #609000;
  color: #b0e000;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 25px;
}

.clump-form-form button[type="submit"]:disabled {
  box-shadow: inset -1px -1px 1px black, -1px -1px 0px #306000;
  color: #a0c000;
  cursor: default;
  opacity: 0.9;
}

.storage-buttons button {
  font-size: 12px;
  padding: 5px 10px;
}
.storage-buttons button:disabled {
  background-color: rgba(239, 239, 239, 0.7);
  color: #444444;
  cursor: default;
  font-weight: normal;
}

/* H2 TITLE AND LOGO. */

.dcfa-tool-container {
  background: transparent;
  border: 1px solid #b0e000;
  border-radius: 12px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.05);
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  max-width: 650px;
  min-width: 150px;
  padding: 10px 7px 7px;
  /* width: 30vw; */
  width: 100%;
}

.dcfa-tool-header {
  /* Align img to the top */
  align-items: flex-start;
  display: flex;
  /* gap: 18px; */
  gap: 7px;
}

.dcfa-tool-header h2 {
  align-self: center;
  /* color: #24292f; */
  display: inline-block;
  font-size: 1.14rem;
  /* Allow h2 to shrink, wrap, or grow as needed */
  flex: 1 1 140px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  /* Prevent h2 from shrinking too much */
  min-width: 0;
  text-align: center;
}
.h2-inset-wrapper {
  border-bottom: 1px dotted #306000;
  margin: 0 auto;
  max-width: 200px;
  padding-bottom: 7px;
}
.dcfa-tool-header a {
  /* display: inline-block; */
  float: right;
}
.dcfa-tool-icon {
  display: inline-block;
  /* Prevent icon from shrinking */
  flex: 0 0 64px;
  height: 64px;
  object-fit: contain;
  width: 64px;
}

.dcfa-tool-links {
  display: flex;
  justify-content: center;
  gap: 7px;
  /* margin-top: 7px; */
}
/* Some of these are overriden for 'empty-page.htmlh' */
/* below in: .tips-notes a, .empty-notes a */
.dcfa-tool-links .help-button:visited,
.dcfa-tool-links .help-button,
.dcfa-tool-links a:visited,
.dcfa-tool-links a {
  border-radius: 6px;
  color: #4a8cc7;
  font-size: 0.9rem;
  padding: 2px 4px;
  text-decoration: none;
  transition: background-color 0.23s ease-in-out, color 0.23s ease-in-out, color 0.23s ease-in-out;
}
.dcfa-tool-links .help-button:hover,
.dcfa-tool-links a:hover {
  background-color: darkgreen;
  color: #bbffff;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 895px) {
  .dcfa-tool-links {
    margin-top: 7px;
  }
}

/* .floating-icon -> .dcfa-tool-icon */
.floating-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 64px;
}

.dcfa-tool-icon:hover,
.floating-icon:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 15px #00ff00;
}

/* UTILITIES */

.hidden {
  display: none !important;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0 0 0 22px;
}

ol>li {
  display: table;
  counter-increment: item;
}

ol>li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol>li {
  margin: 0;
}

li ol>li:before {
  content: counters(item, ".") " ";
}

.error {
  background-color: #ffffff;
  color: #f00;
  font-size: 12px;
  padding: 10px;
  /* margin: 10px 0; */
  max-width: 250px;
  overflow: hidden;
}

.error ul {
  margin: 0;
  padding: 0 5px 0 20px;
  text-indent: -15px;
  line-height: 1.4;
}

.error li {
  padding: 0 10px;
}

.storage-naming-error {
  background-color: #003300;
  border-radius: 4px;
  color: #ffffff;
  width: 80%;
  min-width: 135px;
}

/* Fade in/out error message */
.error-hidden {
  animation: fade-out 1s forwards;
}

.error-visible {
  animation: fade-in 1s forwards;
  width: 100%;
  overflow: auto;
}

@keyframes fade-in {
  0% {
    height: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  100% {
    height: 100%;
    max-height: 150px;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    height: 100%;
    max-height: 150px;
    opacity: 1;
  }

  100% {
    height: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}

.output-container {
  background-color: #01012b;
  border: 1px solid #cccccc;
  color: #000000;
  height: calc(100vh - 42px);
  overflow: auto;
  padding: 20px;
  position: relative;
  transition: height 0.3s ease, margin-bottom 0.3s ease;
  width: 70%;
}

.cross-tab-warning {
  background-color: yellowgreen;
  border-radius: 15px;
  box-shadow: 5px 5px 50px palegreen;
  color: darkblue;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin: 15px;
  max-width: 430px;
  min-height: 50px;
  min-width: 150px;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

.grid {
  display: inline-grid;
  /* grid-template-columns: repeat(2, 150px); */
  grid-auto-rows: 40px;
  grid-auto-rows: minmax(40px, auto);
  gap: 5px;
  margin-right: 0;
  overflow: auto;
  padding-bottom: 10px;
  width: 100%;
}

/* .grid .tips-notes, */
.grid .empty-notes {
  background-color: midnightblue;
  background: linear-gradient(
    to right,
    midnightblue 300px,
    #003300 100%
  );
  border-radius: 10px;
  box-shadow: -2px -2px 9px #00c000 inset;
  line-height: 1.5;
  margin-top: 0;
  padding: 10px 10px 35px 30px;
  position: relative;
  width: 91%;
}
.tips-notes .notes-h2,
.empty-notes .notes-h2 {
  color: #b0e000;
}
.tips-notes .notes-ul-1st-tier,
.empty-notes .notes-ul-1st-tier {
  line-height: 1.6;
  padding-left: 15px;
}
.tips-notes .notes-ul-2nd-tier,
.empty-notes .notes-ul-2nd-tier {
  line-height: 1.4;
  padding-left: 15px;
}
.tips-notes a,
.empty-notes a {
  border-radius: 6px;
  color: #b0e000;
  font-size: 1rem;
  padding: 2px 4px;
  text-decoration: dotted underline white;
  transition: background-color 0.23s ease-in-out, color 0.23s ease-in-out, color 0.23s ease-in-out;
}
.tips-notes a:hover,
.empty-notes a:hover {
  /* background-color: darkgreen; */
  border: 1px dotted cyan;
  color: #00f000;
  cursor: pointer;
  text-decoration: none;
}
.empty-notes .larr {
  animation: moveXWithBounce 7s infinite linear;
  animation-iteration-count: 20;
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: -3px;
  left: -25px;
}

.empty {
  background-color: transparent !important;
}

/* Thanks to: https://webcode.tools/css-generator/keyframe-animation */
@keyframes moveXWithBounce {
  /* 0 */
	0% { animation-timing-function: ease-in; transform: translateX(0); }
  /* 38 -> 19 -> 9.5 (+10) */
	10% { animation-timing-function: ease-out; transform: translateX(-10px); }
  /* 17 -> 8.5 (+9) */
	19% { animation-timing-function: ease-in; transform: translateX(-3px); }
  /* 17 -> 8.5 (+9) */
	28% { animation-timing-function: ease-out; transform: translateX(-10px); }
  /* 9 -> 4.5 (+5) */
	33% { animation-timing-function: ease-in; transform: translateX(-6px); }
  /* 9 -> 4.5 (+5) */
	38% { animation-timing-function: ease-out; transform: translateX(-10px); }
  /* 5 -> 2.5 (+3) */
	41% { animation-timing-function: ease-in; transform: translateX(-8px); }
  /* 5 -> 2.5 (+3) */
	44% { animation-timing-function: ease-out; transform: translateX(-10px); }
	97% { animation-timing-function: ease-in; transform: translateX(-10px); }
	100% { animation-timing-function: ease-out; transform: translateX(0); }
}

.column {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
}

.content-span pre {
  background-color: #eeeecc;
  bottom: 10px;
  cursor: alias;
  height: 200px;
  left: calc(30% + 10px);
  margin: 0 15px;
  overflow: auto;
  padding: 20px;
  position: fixed;
  transition: height 0.4s ease;
  width: calc(70% - 75px);
  z-index: 2;
}
.content-span pre.flat {
  height: 0;
  transition: height 0.4s ease;
}

.output-container.resize-container {
  position: relative;
  overflow: hidden;
}
  .output-container .resize-handle {
    background-color: green;
    bottom: 0;
    cursor: grab;
    display: flex;
    flex-shrink: 0;
    height: 0;
    left: calc(30% + 25px);
    margin: 0 auto;
    outline: 0px solid red;
    padding: 0;
    position: fixed;
    right: 10px;
    width: 75px;
    z-index: 99999999;
  }
  .output-container .resize-handle.show {
    bottom: 250px;
    height: 10px;
    transition: height 0.2s ease, bottom 0.2s ease;
  }
  .content-span pre {
    flex-grow: 1; /* Allow the pre tag to expand/contract */
  }

.clump-node {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px dotted #003300;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: center;
}

.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expanded {
  background-color: #cceeee;
  height: auto;
  min-height: 60px;
  outline: 2px solid #33ff33;
  white-space: normal;
  /* Span 2 rows to push content below */
  /* grid-row-end: span 2; */
}
.topmost {
  outline: 6px dotted #b0e000 !important;
}

/* Clump being edited */
.clump-node-selected {
  box-shadow: inset 2px 2px 10px blue !important;
  outline: 6px dotted #00e000 !important;
}

/* Clump being edited AND is the topmost, open clump */
.clump-node-selected.topmost {
  box-shadow: inset 2px 2px 10px blue !important;
  outline: 6px dotted #00e0e0 !important;
}

.content-span,
.edit-icon,
.delete-icon {
  cursor: pointer;
}

.content-span {
  overflow: hidden;
  padding-left: 10px;
  margin-right: 60px;
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
}

.icon-span {
  float: right;
}

.edit-icon,
.delete-icon {
  background-color: #c9f9c9;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #00ff00;
  cursor: pointer;
  font-size: 12px;
  height: 22px;
  width: 22px;
  position: absolute;
}
  .edit-icon {
    margin: 6px 0 0;
    outline: 1px dashed lightsalmon;
    padding: 4px 2px 0px 2px;
    right: 5px;
    top: 0;
  }
    .edit-icon:hover {
      background-color: greenyellow;
      outline: 3px solid blue;
    }
  .delete-icon {
    height: 14px;
    margin: 6px 2px 0;
    /* padding: 1px 2px 3px 2px; */
    padding: 0px 3px 4px 2px;
    right: 36px;
    top: 5px;
    width: 14px;
  }
    .delete-icon:hover {
      background-color: greenyellow;
      outline: 3px solid red;
    }

.panel-from-expanded-to-collapsed,
.panel-from-collapsed-to-expanded {
  overflow: hidden;
  /* Ensure overflow content is clipped */
}

/* Collapsed to expanded animation */
.panel-from-collapsed-to-expanded {
  animation: smooth-collapse-slide-down 0.5s forwards;
}

@keyframes smooth-collapse-slide-down {
  0% {
    max-height: 40px;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  100% {
    /* Arbitrary height to give plenty of room for animation growth. */
    max-height: 1000px;
    opacity: 1;
  }
}

/* Expanded to collapsed animation */
.panel-from-expanded-to-collapsed {
  animation: smooth-collapse-slide-up 0.5s forwards;
}

@keyframes smooth-collapse-slide-up {
  0% {
    max-height: 1000px;
    opacity: 1;
  }

  100% {
    max-height: 20px;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

.linked::after {
  content: "\21E8";
  /* content: "\2B9A"; */
  color: #337733;
  font-size: 25px;
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: -14px;
  bottom: 0;
  z-index: 2;
}

.unlinked::after {
  content: "\21E9";
  /* content: "\2B9B"; */
  color: #337733;
  font-size: 25px;
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  top: -18px;
  z-index: 2;
}

.info-panel {
  background-color: #031800;
  border: 1px solid #373;
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 20px 5px;
  color: #ffffff;
  max-width: 400px;
}

/* Clump Form */

.clump-form-form {
  box-shadow: 6px 4px 8px 0 rgba(250, 250, 250, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  padding: 20px;
  position: relative;
  max-width: 600px;
}

/* Icon to pop out form. */
.clump-form-form .pop-it {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 20px;
  line-height: 1;
  position: absolute;
  right: -4px;
  top: -6px;
  width: 20px;
  z-index: 3;
}

.clump-form-form .pop-it:hover {
  box-shadow: -2px 2px 20px lightseagreen;
}

.clump-form-form.popped {
  position: fixed;
  /* width: 80vw; */
  width: 88vw;
  max-width: none;
  /* With the 'pre' panel incrementing at 10 levels each time,
   *   setting this z-index to 1 million at 10 per jump allows
   *   for near a hundred thousand clump clicks before a conflict.
   */
  z-index: 999999; /* 1 million - 1 = 100,000 clump clicks. */
}

.clump-form-div-wrapper {
  background-color: #00330033;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.clump-form-div-wrapper-inside {
  border: 1px solid #b0e00055;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 10px 5px;
}

.bgcolor1 {
  border-style: dashed;
}
.bgcolor2 {
  border-style: dotted;
}

.clump-form-div {
  /* align-items: center; */
  align-items: flex-start;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
}

.clump-form-div > label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  /* margin-right: 10px; */
  margin-right: 0;
  min-width: 125px;
  /* text-align: right; */
  text-align: left;
  width: auto;
}

.clump-form-div > input[type='text'],
.clump-form-div > select,
.clump-form-div > textarea {
  flex: auto;
  padding: 5px;
  font-size: 14px;
}

.clump-form-div > input[type='text'],
.clump-form-div > select,
.clump-form-div > textarea,
.clump-form-div > div {
  /* max-width: 235px; */
  max-width: 95%;
  min-width: 120px;
  width: 95%;
}
.clump-form-div > select {
  max-width: fit-content;
}
.clump-form-div > textarea {
  min-height: 50px;
  resize: vertical;
}
form.popped .clump-form-div > textarea {
  height: 150px;
}

.clump-form-div-inline {
  display: inline-flex;
  font-size: 12px;
  text-align: left;
  align-items: normal;
  height: 24px;
  line-height: 28px;
  padding: 0 10px 0 5px;
}

.clump-form-div-radios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 150px !important;
}

.clump-form-div > select {
  min-width: 120px;
}

.clump-form-form .form-buttons {
  flex-direction: row-reverse;
}

.form-buttons {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  margin: 15px auto 5px;
}

/* Responsive layout: stack labels and inputs vertically */
@media (max-width: 1185px) {
  .clump-form-form {
    padding: 15px;
  }
  .clump-form-div > select {
    max-width: 95%;
  }

  /*
  .clump-form-div {
    flex-direction: column;
    align-items: flex-start;
  } */

  /*
  .clump-form-div > label {
    text-align: left;
    margin-right: 0;
    margin-bottom: 5px;
    width: auto;
  } */

  .form-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

/* Lower Panels */

.info-panel-sub {
  background-color: #021200;
  box-shadow: 6px 4px 6px 0 rgba(150, 150, 150, 0.1);
  border: 1px solid #113311;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .export-import */
.panel-from-hotspot {
  background-color: #003300;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 18px;
  justify-content: space-between;
  margin: 5px auto 0;
  padding: 5px 10px 0;
  position: relative;
  top: 20px;
  text-align: right;
  max-width: 400px;
  z-index: 1;
}

/* General Panel Styling */
.info-panel-sub {
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-top: 40px;
  position: relative;
}
.info-panel-sub.settings {
  padding-top: 30px;
}

/* Layout for Export/Import Buttons Block */
/*
.export-import-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.export-import-buttons button {
  border: 1px solid #777777;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 15px;
  white-space: nowrap;
  flex: 1;
}
 */

.settings-block,
.export-import-block {
  display: flex;
  gap: 10px; /* Space between left and right elements */
}

.export-import-buttons {
  display: flex;
  margin-bottom: 5px;
  max-width: 250px;
  width: 100%;
}

.export-import-buttons > div {
  gap: 10px;
  justify-content: space-between;
}

.export-import-buttons button {
  border: 1px solid #777777;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 160px;
  width: 100%;
}

/* Layout for Show IDs and Slider blocks */
.settings-export-reminder,
.settings-show-ids {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px;
  padding: 0 0 15px;
  width: 100%;
}

.show-ids-label {
  flex: 1;
  font-size: 14px;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.export-reminder-input {
  margin-top: 8px;
}

/* bottom border for all but the last element */
.settings-export-reminder:not(:last-child),
.settings-show-ids:not(:last-child) {
  border-bottom: 1px solid #003300;
}

.show-ids-checkbox {
  vertical-align: middle;
}

.settings-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.slider-label {
  flex: 1;
  font-size: 14px;
  text-align: center;
  /* Allows label text to wrap if needed */
  white-space: normal;
  width: 100%;
}

.grid-repeat-range-input {
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px 0 0;
  width: 70%;
  max-width: 150px;
}

datalist {
  /* Scalable font size */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 70%;
  max-width: 150px;
}

/* Storage Names */

.export-import-storage-name {
  align-items: center;
  border-top: 1px solid #003300;
  display: flex;
  flex-direction: column;
}

.export-import-storage-main {
  gap: 0px;
  padding-bottom: 10px;
}

.export-import-storage-name label {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: right;
}

.export-import-storage-name select {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.export-import-storage-name select {
  min-width: 120px;
  max-width: 220px;
  width: 90%;
}

.export-import-storage-name>div {
  align-items: center;
  display: flex;
  margin: 8px auto;
}

.export-import-storage-name>div.storage-button-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
.export-import-storage-name>div.storage-button-actions .storage-button-action {
  display: block;
  margin-top: 10px;
  min-height: 42px;
  padding: 8px 18px;
  text-align: center;
  width: 100%;
}

.storage-name-wrapper {
  flex-direction: column;
}
.storage-name-label {
  margin: 0;
}
.storage-name-label-current {
  border: 1px dotted #b0e000;
  color: #b0e000;
  margin: 0px auto 10px;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  width: 90%;
}
.app-modal-button-open-modal {
  padding: 8px 10px;
  margin: 0 auto;
  white-space: normal;
}

/* Responsive layout: stack labels and inputs vertically */
@media (max-width: 950px) {
  .export-import-buttons {
    gap: 5px;
  }
  .grid-repeat-html-span {
    display: block;
  }
  .export-import-storage-name {
    flex-direction: column;
    align-items: flex-start;
  }
  .storage-buttons {
    flex-direction: column;
  }
  .export-import-storage-name>div.storage-button-actions {
    flex-direction: column-reverse;
    margin-top: 0;
    min-height: auto;
  }
  .export-import-storage-name>div.storage-button-actions .storage-button-action {
    min-height: auto;
  }
}

.script-vars {
  flex-direction: column;
  margin: 20px auto;
  padding: 20px 5px;
}

.info-panel.info-panel-sub.script-vars p {
  display: flex;
  align-items: baseline;
  gap: 10px;
  justify-content: space-between;
  line-height: 1.6;
  margin: 5px 0;
  width: 90%;
}

.label {
  text-align: left;
  flex: 1;
  white-space: normal;
  /* Allows labels to wrap if necessary */
}

.value {
  text-align: right;
  font-weight: bold;
  flex-shrink: 0;
  /* Prevents value from shrinking, keeping it aligned right */
}

.no-wrap {
  white-space: nowrap;
}
