/* The Modal (background) */
.modal-wrapper {
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  z-index: 10000; /* Sit on top */
}

/* Modal Header */
.modal-header {
  background-color: #5cb85c;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  position: relative;
}

/* Header: Active Flow and Close Button */
.modal-header > span {
  color: #ffffff;
  display: flex;
  font-size: 24px;
}
.modal-close-button {
  font-size: 28px;
  font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #b0e000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  margin-top: 10px;
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: rgba(0,0,0,0.4);
  background-color: #030c00;
  border: 1px solid #5cb85c;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  color: #b0e000;
  font-family: Arial, sans-serif;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  position: relative;
  width: 80%;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Layout */
.storage-name-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
}
