body {
  background-color: #030c00;
  color: #b0e000;
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
}

.form-container {
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  width: 30%;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 7px #ccff00
}

button[type="submit"] {
  padding: 10px 25px;
}

h2 {
  margin: 10px 0;
  width: calc(100% - 55px);
}

.hidden {
  display: none;
}

.error {
  background-color: #fff;
  color: #f00;
  font-size: 12px;
  padding: 10px;
  /* margin: 10px 0; */
  max-width: 250px;
  overflow: hidden;
}

/* Fade in/out error message */
.error-hidden {
  animation: fade-out 1s forwards;
}

.error-visible {
  animation: fade-in 1s forwards;
}

.storage-naming-error {
  background-color: #336600;
  border-radius: 4px;
  color: #fff;
  width: 70%;
  min-width: 135px;
}

@keyframes fade-in {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 150px;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    max-height: 150px;
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

.floating-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 64px;
}

.floating-icon:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 15px #00ff00;
}

.output-container {
  background-color: #01012b;
  border: 1px solid #ccc;
  color: #000000;
  width: 70%;
  height: calc(100vh - 42px);
  padding: 20px;
  overflow: auto;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(2, 150px); */
  grid-auto-rows: 40px;
  grid-auto-rows: minmax(40px, auto);
  gap: 5px;
  overflow: auto;
  padding-bottom: 10px;
}

.grid .empty-notes {
  background-color: midnightblue;
  border-radius: 10px;
  box-shadow: -2px -2px 9px #00c000 inset;
  line-height: 1.5;
  margin-top: 20px;
  padding: 20px;
  width: 50vw;
}

.empty {
  background-color: transparent !important;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.clump-node {
  background-color: #f9f9f9;
  border: 1px dotted #003300;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  text-align: center;
}

.clump-node-selected {
  outline: 6px dotted #b0e000;
  box-shadow: 0 0 20px yellow;
}

.content-span,
.icon-span {
  cursor: pointer;
}

.content-span {
  text-align: left;
  padding-left: 10px;
  padding-right: 32px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-span {
  float: right;
}

.edit-icon,
.delete-icon {
  background-color: #c9f9c9;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #00ff00;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

.edit-icon {
  right: 5px;
}

.delete-icon {
  right: 27px;
}

.collapsed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded {
  height: auto;
  min-height: 60px;
  white-space: normal;
  /* Span 2 rows to push content below */
  /* grid-row-end: span 2; */
}

.panel-from-expanded-to-collapsed,
.panel-from-collapsed-to-expanded {
  overflow: hidden;
  /* Ensure overflow content is clipped */
}

/* Collapsed to expanded animation */
.panel-from-collapsed-to-expanded {
  animation: smooth-collapse-slide-down 0.5s forwards;
}

@keyframes smooth-collapse-slide-down {
  0% {
    max-height: 40px;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  100% {
    /* Arbitrary height to give plenty of room for animation growth. */
    max-height: 1000px;
    opacity: 1;
  }
}

/* Expanded to collapsed animation */
.panel-from-expanded-to-collapsed {
  animation: smooth-collapse-slide-up 0.5s forwards;
}

@keyframes smooth-collapse-slide-up {
  0% {
    max-height: 1000px;
    opacity: 1;
  }

  100% {
    max-height: 20px;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

.linked::after {
  content: "\2B9A";
  color: #337733;
  font-size: 25px;
  position: absolute;
  top: -1px;
  left: -10px;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

.unlinked::after {
  content: "\2B9B";
  color: #337733;
  font-size: 25px;
  position: absolute;
  right: 0;
  left: 0;
  top: -18px;
  z-index: 2;
  pointer-events: none;
}

.info-panel {
  background-color: #031800;
  border: 1px solid #373;
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 20px 5px;
  color: #fff;
  max-width: 400px;
}

/* Clump Form */

.clump-form {
  box-shadow: 6px 4px 8px 0 rgba(250, 250, 250, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  padding: 20px;
  max-width: 600px;
}

.clump-form-div {
  display: flex;
  align-items: center;
}

.clump-form-div label {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: right;
  width: 125px;
}

.clump-form-div input,
.clump-form-div textarea,
.clump-form-div select {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.clump-form-div input,
.clump-form-div textarea {
  min-width: 120px;
  width: 100%;
}

.clump-form-div select {
  min-width: 120px;
}

.form-buttons {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  margin: 15px auto 5px;
}

/* Responsive layout: stack labels and inputs vertically */
@media (max-width: 900px) {
  .clump-form {
    padding: 15px;
  }

  .clump-form-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .clump-form-div label {
    text-align: left;
    margin-right: 0;
    margin-bottom: 5px;
    width: auto;
  }

  .clump-form-div input,
  .clump-form-div textarea {
    width: 90%;
  }

  .form-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

/* Lower Panels */

.info-panel-sub {
  background-color: #021200;
  box-shadow: 6px 4px 6px 0 rgba(150, 150, 150, 0.1);
  border: 1px solid #113311;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

/* .export-import */
.panel-from-hotspot {
  background-color: #003300;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto 0;
  padding: 1px 10px 1px 0;
  position: relative;
  top: 20px;
  text-align: right;
  width: 95%;
  max-width: 400px;
  z-index: 1;
}

/* General Panel Styling */
.info-panel-sub.export-import {
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-top: 40px;
  position: relative;
  width: 95%;
}

/* Layout for Export/Import Buttons Block */
.export-import-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.export-import-buttons button {
  border: 1px solid #777;
  border-radius: 4px;
  flex: 1;
  font-size: 14px;
  padding: 8px 15px;
  white-space: nowrap;
}

/* Layout for Slider Block */
.export-import-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.slider-label {
  flex: 1;
  font-size: 14px;
  text-align: center;
  /* Allows label text to wrap if needed */
  white-space: normal;
  width: 100%;
}

#gridRepeat {
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px 0 0;
  width: 70%;
  max-width: 150px;
}

datalist {
  /* Scalable font size */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 70%;
  max-width: 150px;
}

/* Storage Names */

.export-import-storage-name {
  align-items: center;
  border-top: 1px solid #003300;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 10px;
}

.export-import-storage-name label {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: right;
  /* width: 125px; */
}

.export-import-storage-name select {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.export-import-storage-name select {
  min-width: 120px;
}

.storage-buttons button {
  padding: 5px 10px;
}

/* .export-import-storage-name -> all first level divs -> 2nd html element -> width: 40% */
.export-import-storage-name>div> :nth-child(1),
.export-import-storage-name>div> :nth-child(2) {
  width: 49%;
}

.export-import-storage-name>div {
  align-items: center;
  display: flex;
  margin: 8px auto;
}

.storage-create-name input {
  margin: 0 0 0 10px;
  padding: 5px;
}

.storage-create-name button {
  margin: 0 10px 0 0;
  padding: 5px;
}

/* Responsive layout: stack labels and inputs vertically */
@media (max-width: 950px) {
  .export-import-buttons {
    flex-direction: column;
    gap: 15px;
  }

  #gridRepeatHTMLValue {
    display: block;
  }

  .export-import-storage-name {
    flex-direction: column;
    align-items: flex-start;
  }

  .export-import-storage-name label {
    text-align: left;
    margin-right: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: auto;
  }

  .storage-buttons,
  .storage-name-wrapper {
    flex-direction: column;
  }

  .export-import-storage-name>div> :nth-child(1),
  .export-import-storage-name>div> :nth-child(2) {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 90%;
  }
}

.script-vars {
  flex-direction: column;
  margin-bottom: 20px;
}

.info-panel.info-panel-sub.script-vars p {
  display: flex;
  align-items: baseline;
  gap: 10px;
  justify-content: space-between;
  line-height: 1.6;
  margin: 5px 0;
  width: 90%;
}

.label {
  text-align: left;
  flex: 1;
  white-space: normal;
  /* Allows labels to wrap if necessary */
}

.value {
  text-align: right;
  font-weight: bold;
  flex-shrink: 0;
  /* Prevents value from shrinking, keeping it aligned right */
}

.no-wrap {
  white-space: nowrap;
}